@use '../util' as *;

.toggle {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    gap: rem(7);

    & label {
        text-transform: capitalize;
        cursor: pointer;
        font-size: rem(14);
        letter-spacing: rem(1);
        color: var(--toggle);
        font-weight: 700;
    }

    &__wrapper {
        height: rem(20);
        position: relative;
    }

    input[type='radio'] {
        opacity: 0;
        margin: 2px 2.5px;
        z-index: 1;
        position: relative;
        width: rem(16);
        height: rem(16);
        cursor: pointer;

        &:focus~.toggle__button {
            border: 2px solid var(--ligth-bg);
        }
    }

    &__background {
        display: block;
        position: absolute;
        height: 100%;
        width: rem(45);
        top: 0;
        border-radius: rem(12);
        background: var(--toggle)
    }

    &__button {
        position: absolute;
        cursor: pointer;
        left: rem(3);
        top: rem(2);
        right: 100%;
        width: rem(16);
        height: rem(16);
        background-color: var(--ligth-bg);
        border-radius: 50%;
        transition: all 150ms ease-in-out;
    }
}

#light:checked~.toggle__button {
    left: calc(100% - 21px);
    right: 3px;
}